version: "3.8"
services:
  app:
    build: .
    volumes:
      - tasks_data:/app/data
      - ./.env:/app/.env
    ports:
      - "8000:8000"
    env_file:
      - .env

volumes:
  tasks_data:
    driver: local 